/* стартовые стили */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a,
button,
input {
  font-family: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
  color: #283136;
  font-family: Roboto, Arial, sans-serif;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  display: block;
}

.title-st {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  display: block;
}

.title-md {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  display: block;
}

.title-sm {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  display: block;
}

.button {
  background: #fb565a;
  border-radius: 3px;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 17px 40px 15px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.button--green {
  background-color: #00ca74;
}

.button--yellow {
  background-color: #efc849;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background: #d7373b;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button--green:hover,
.button--green:focus {
  background-color: #00bc6c;
}

.button--green:active {
  background: #00bc6c;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button--yellow:hover,
.button--yellow:focus {
  background-color: #eab534;
}

.button--yellow:active {
  background: #eab534;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button--gray {
  background-color: #EEEEEE;
  color: #000000;
}

.button--gray:hover,
.button--gray:focus {
  background-color: #dfdfdf;

}

.button--gray:active {
  background: #d5d5d5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

.button-close {
  border: none;
  background-color: transparent;
}

/* шапка  */
.page__header {
  background-color: #eeeeee;
  padding-top: 45px;
}

/* лого  */
.navigation__logo:active {
  opacity: 0.3;
}

/* навигация  */
.navigation {
  display: grid;
  grid-template-columns: 165px 1fr 115px;
  padding-top: 10px;
  align-items: center;
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.navigation__link {
  font-family: Roboto, Arial, sans-serif;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-decoration: none;
  position: relative;
  padding: 13px 25px;
}

.navigation__link--cart {
  padding-left: 40px;
  position: relative;
  display: flex;
  align-items: center;
}

.navigation__link--cart::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  background-image: url("../img/icons/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 0;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #fb565a;
}

.navigation__link:active {
  color: #000000;
  opacity: 0.3;
}

.navigation__link:not([href])::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
  bottom: 0;
  left: 0;
}

/* слайдер  */
.top-slider {
  background-color: #eeeeee;
  position: relative;
}

.top-slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.top-slider__item {
  padding: 65px 0 80px;
  position: relative;
}

.top-slider__item .title {
  max-width: 540px;
  margin-bottom: 37px;
  z-index: 2;
  position: relative;
}

.top-slider__text {
  max-width: 416px;
  margin: 0;
  margin-bottom: 28px;
  z-index: 2;
  position: relative;
}

.top-slider__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  max-width: 760px;
  width: 100%;
}

.top-slider__item .button {
  max-width: 240px;
  width: 100%;
  z-index: 2;
  position: relative;
}

/* навигация слайдера  */
.slider-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  max-width: 105px;
  width: 100%;
  position: absolute;
  bottom: 117px;
  left: 50%;
}

.slider-nav__button {
  font-size: 0;
  line-height: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.slider-nav__button--active::after {
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border: 2px solid #c1c1c1;
  display: block;
  border-radius: 50%;
  position: absolute;
  content: "";
  padding: 2px;
}

/* список услуг  */
.services {
  padding: 80px 0 0;
}

.services__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 100px;
  row-gap: 95px;
  position: relative;
  padding-bottom: 80px;
}

.services__list li {
  max-width: 300px;
  width: 100%;
}

.services__promo {
  margin: 0;
  width: 100%;
}

.services__list::after {
  content: "";
  background-color: #eeeeee;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
}

.services__img {
  margin-bottom: 18px;
  width: 100%;
}

.services .title-st {
  margin-bottom: 16px;
}

.services__text {
  margin: 0;
  margin-bottom: 30px;
}

/* презентация  */
.presentation {
  padding: 42px 0 0;
}

.wrapper--border::after {
  content: "";
  background-color: #eeeeee;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
}

.presentation .wrapper {
  display: grid;
  grid-template-columns: 650px 1fr;
  column-gap: 150px;
  padding-bottom: 52px;
}

.presentation__description {
  margin-top: 33px;
}

.presentation__intro {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  margin-bottom: 35px;
  font-weight: 500;
  display: block;
}

.presentation__text {
  margin: 0;
  margin-bottom: 40px;
}

.presentation__title {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  display: block;
}

.presentation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.presentation__list li {
  margin-bottom: 24px;
  padding-left: 32px;
  position: relative;
  display: flex;
  align-items: center;
}

.presentation__list li::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.presentation__img {
  max-width: 360px;
  margin-bottom: 30px;
}

.presentation__date {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.table__them td {
  font-size: 16px;
  line-height: 18px;
  padding-top: 12px;
}

.table__value td {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  padding-right: 16px;
}

.table__value sup {
  font-size: 26px;
  line-height: 40px;
}

/* партнеры  */
.partners {
  padding: 46px 0;
  margin-bottom: 35px;
}

.partners__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 90px;
  max-width: 1105px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 46px;
}

.partners__list li,
.partners__link {
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners__link {
  opacity: 0.2;
}

.partners__link:active {
  opacity: 0.1;
}

.partners__link:hover,
.partners:focus {
  opacity: 1;
}

.contacts {
  background-image: url("../img/map-bg.jpg");
  background-position: center;
  background-size: cover;
  padding: 54px 0;
  overflow: hidden;
}

.contacts__wrap {
  background-color: #fff;
  max-width: 320px;
  margin: 0;
  margin-right: auto;
  padding: 50px 50px 47px;
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  display: block;
  margin-bottom: 20px;
}

.contacts__text {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin: 0;
  margin-bottom: 37px;
}

.contacts__text a {
  color: inherit;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
}

.contacts .button {
  padding: 17px 44px 15px;
}

.footer {
  padding: 63px 0;
}

.footer .wrapper {
  display: grid;
  grid-template-columns: 265px 1fr;
  column-gap: 135px;
}

.social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.social__link {
  font-size: 0;
  line-height: 0;
  width: 81px;
  height: 81px;
  background: linear-gradient(0deg, #e1e1e1, #e1e1e1), #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
}

.social__link:hover,
.social__link:focus {
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social__link:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social__link:active svg {
  opacity: 0.3;
}

.invite__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin: 13px 0 8px;
}

.invite__text {
  margin: 0;
}

/* модалка  */
.modal {
  max-width: 960px;
  width: 100%;
  padding: 63px 100px 84px;
  position: absolute;
  top: 40%;
  z-index: 10;
  background-color: #ffffff;
  margin: 0 auto;
  left: 23%;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  margin: 0;
  margin-bottom: 37px;
}

.modal__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 37px;
}

.modal__form label {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.modal__form input {
  display: block;
  margin-top: 10px;
  padding: 16px;
  padding-left: 14px;
  color: #444444;
  mix-blend-mode: normal;
  opacity: 0.5;
  font-size: 16px;
  line-height: 18px;
  font-family: Roboto, Arial, sans-serif;
  width: 360px;
  border: 2px solid #D7DCDE;
  border-radius: 3px;
}

.modal__form input:focus {
  border-color: #000000;
}

.modal__form input:invalid {
  border-color: #E74246;
  color: #E74246;
}

.modal__text {
  grid-column: 1/-1;
  margin-bottom: 47px;
  display: block;
  width: 100%;
  margin-top: 10px;
  height: 118px;
  background: #ffffff;
  border: 2px solid #d7dcde;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  padding: 16px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.modal .button {
  max-width: 259px;
  padding: 17px 83px 15px;
}

.close-btn {
  position: absolute;
  top: 80px;
  right: 105px;
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  opacity: 0.3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.close-btn:hover,
.close-btn:focus {
  opacity: 1;
}

.close-btn:active {
  opacity: 0.1;
}

/* внутренняя страница  */
.inner-page .first-screen {
  background-color: #eeeeee;
  padding: 72px 0 108px;
}

.inner-page h1 {
  text-align: center;
  margin: 0;
}

.shop {
  padding: 55px 0 60px;
}

.shop .wrapper {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-gap: 140px;
}

.filter fieldset {
  padding: 0;
  border: none;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.filter .title-sm {
  margin-bottom: 16px;
}

.filter label {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 19px;
}

.filter .button {
  padding: 17px 89px 15px;
}

.order {
  display: grid;
  grid-template-columns: 200px 1fr min-content;
  grid-gap: 47px;
  align-items: center;
  margin-bottom: 48px;
}

.order__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.order__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  margin-right: 25px;
  opacity: 0.3;
}

.order__link:not([href]),
.order__link--active {
  opacity: 1;
}

.order__buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.order__buttons a:not([href]) {
  opacity: 0.2;
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  column-gap: 42px;
  row-gap: 32px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 55px;
}

.product-card {
  max-width: 358px;
  width: 100%;
  position: relative;
  padding-top: 40px;
}

.product-card::after {
  content: "";
  background-image: url(../img/shop/browser.svg);
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
  height: 40px;
  z-index: 0;
  opacity: 0.12;
}

.product-card:hover::after,
.product-card:focus::after,
.product-card:active::after {
  opacity: 1;
}

.product-card__image {
  width: 100%;
  z-index: 2;
  position: relative;
  display: block;
}

.product-card__details {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #eeeeee;
  padding: 26px 50px 44px;
  text-align: center;
  z-index: 9;
  opacity: 0;
}

.product-card:hover .product-card__details,
.product-card:focus .product-card__details,
.product-card:active .product-card__details {
  opacity: 1;
}

.product-card__link {
  display: block;
  text-decoration: none;
  color: #000000
}

.product-card__title {
  font-weight: 700;
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}

.product-card__link:hover,
.product-card__link:focus {
  color: #FB565A;
}

.product-card__link:active {
  color: #000000;
  opacity: 0.3;
}

.product-card__text {
  margin: 0;
  margin-bottom: 32px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.product-card__button {
  padding: 17px 70px 15px;
}
